.statContainer {
  display: block;
  margin-bottom: 4vh;
  font-size: 1.2rem;
}
.flex-wrapper {
  display: flex;
  flex-direction: row;
}
p {
  margin: 0;
}
.bold {
  font-weight: bold;
  padding-right: .3rem;
  white-space: nowrap;
}
.value {
  padding-left: .3rem;
}

.size-type-alignment {
  display: flex;
  flex-direction: row;
  font-style: italic;
  justify-content: center;
}

.size {
  padding-right: 8px;
}
.type {
  padding-right: 8px;
}


.ac-hp-speed {
  display: block;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: .5rem;
}

.ac {
  display: flex;
}
.ac-stat {
  padding-left: .3rem;
  padding-right: .3rem;
}
.hp {
  display: flex;
}
.hp-stat {
  padding-left: .3rem;
  padding-right: .3rem;
}
.speed {
  display: flex;
}
.speed-stat {
  padding-left: .3rem;
}
.hover {
  padding-left: .3rem;
}



.abl-scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: .5rem;
}

.abl-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.abl-tag {
 margin-right: .3rem;
 font-weight: bold;
}
.score {
  margin-right: .3rem;
}
.abl-mod > p {
  font-size: 1.05rem;
}

.skills-immunities {
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: .5rem;
}

.save-wrapper {
  display: flex;
}
.saving-throws {
  margin: 0px;
  font-weight: bold;
}
.save-stat {
  margin: 0px;
  margin-left: .7rem;
}
p .save-stat {
  margin: 0px;
  font-weight: 400;
}


.skill-value {
  padding-left: .6rem;
}

.abilities-wrapper {
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: .5rem;
}
.ability-action {
  display: block;
  text-align: left;
}

.ability-action-value {
  padding-bottom: .7rem;
  margin-left: .5rem;
}

.actions-header {
  font-weight: bold;
}

