.statContainer {
  display: block;
  margin-bottom: 4vh;
  font-size: 1.2rem;
}


.size-type-alignment {
  display: flex;
  flex-direction: row;
  font-style: italic;
  justify-content: center;
}
.size-type-alignment > p {
  margin: 0px;
}
.size {
  padding-right: 8px;
}
.type {
  padding-right: 8px;
}


.ac-hp-speed {
  display: block;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: .5rem;
}

.ac {
  display: flex;
}
.ac > p {
  margin: 0px;
}
.ac-tag {
  padding-right: 8px;
  font-weight: bold;
}
.hp {
  display: flex;
}
.hp > p {
  margin: 0px;
}
.hp-tag {
  padding-right: 8px;
  font-weight: bold;
}
.speed {
  display: flex;
}
.speed > p {
  margin: 0px;
}
.speed-tag {
  padding-right: 8px;
  font-weight: bold;
}


.abl-scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: .5rem;
}
.abl-scores > p {
  margin: 0px;
}

.abl-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.abl-tag {
 margin-right: .3rem;
}
.score {
  margin-right: .3rem;
}
.abl-mod > p {
  margin: 0px;
  font-size: 1.05rem;
}
.saving-throws {
  display: flex;
  flex-direction: row;
  margin: 0px;
  font-weight: bold;
}
.save-stat {
  margin: 0px;
  margin-left: .7rem;
}
p .save-stat {
  font-weight: 400;
}
