
.selection {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}

.creature-name {
  margin-right: 1vw;
}
.select-level {
 height: 40px;
 width: 15vw;
 background-color: white;
 border-radius: 5px;
 color:black;
}
.drop-level {
  margin-left: 1vw;
  margin-right: 0px;
  height: 36px;
  width: 50px;
  font-size: 1.3rem;
  border: none;
}
.select-class {
  height: 40px;
  width: 25vw;
  background-color: white;
  border-radius: 5px;
  color:black;
  margin-left: 2vw;
}
.drop-class {
  margin-left: 5px;
  margin-right: 0px;
  height: 36px;
  width: 15vw;
  font-size: 1.3rem;
  border: none;
}